@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.font-digital {
  font-family: 'Share Tech Mono', monospace;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  letter-spacing: 2px;
}
